:root {
    --primary-color: #652020;
    --secondary-color: #e08585;
    --accent-color: #bc2424;
    --background-color: #fdfbfb;
    --text-color: #090404;


}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    max-height: 264px;
    object-fit: cover;
}
@media (max-width: 320px) {
    img {
        max-height: 100%;
    }
}

